<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    
    style 
      include ./home.css
    <title>Document</title>
</head>
<body>
    <nav id="navbar">
        <ul id="details">
            <li><a href="/">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Contact us</a></li>
        </ul>
        <ul id="reg">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <div id="body">
        <p id="firsttext">Welcome to Sona Gym Club</p>
        <p id="mintext">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit culpa quo accusantium!</p>

    </div>


    <div id="workout">
        <h4>Types of workout we provied</h4>
        <div id="excesice">
            <div class="card" id="first"></div>
        <div class="card" id="second"></div>
        <div class="card" id="third"></div>
        </div>
        

    </div>
  
</body>
</html>