<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style 
      include ./login.css
</head>
<body>
    <nav id="navbar">
        <ul id="details">
            <li><a href="/">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Contact us</a></li>
        </ul>
        <ul id="reg">
            <li><a href="/login"><Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>







    <div class="container">
        <div class="item">

        <form action="/login" method="post">
            
           
        <div class="emailandsex">
        <div class="mail">
            <p>Email</p>
            <input type="email" name="email" placeholder="Enter your email" class="myform">
        </div>
        


        <!-- password -->

        <div class="password">
            <div id="passcode">
            <p>Password</p>
            <input type="password" name="fpassword" placeholder="enter your password" id="pass" class="myform">
        </div>
        
            
        
        <button id="btn" type="submit">Submit</button>

        </form>
    </div>
    </div>
    
</body>
</html>